.single-course {
  text-align: center;
  padding: .5rem;
  border: 1px solid var(--color-bg2);
  border-radius: 1rem;
  background: var(--color-bg1);
  padding-bottom: .7rem;
}

.single-course:hover {
  background: transparent;
  transition: var(--transition);
  box-shadow: var(--boxshadow);
  border-color: var(--color-bg2);
}

.single-course:hover img {
  transform: scale(1.2);
  transition: var(--transition);
}

.single-course-img {
  overflow: hidden;
  border-radius: 1rem;
}

.single-course img {
  border-radius: 1rem;
}

.single-course h5 {
  margin: 1rem 0 .5rem;
}

.single-course p {
  font-size: .8rem;
  margin: 0 .5rem 1rem;

  text-align: justify;
}