/* ======================HEADER SECTION=================== */
header {
  position: relative;
  top: 5rem;
  min-height: 100%;
  background: url('../../assets/img/bg-texture.png');
  background-color: var(--color-bg);
  box-shadow: var(--boxshadow);
}

.home-container {
  display: flex;
  overflow: hidden;
  height: 70vh;
  justify-content: center;
  align-items: center;
  gap: 5rem;

}

/* ====HEADER LEFT==== */
.home-header-left {
  flex: 1;
}

.home-header-left p {
  margin: 1rem 0 2.4rem;
  text-align: justify;
}

/* ====HEADER RIGHT==== */
.home-header-right {
  flex: 1;
}

/*======================CATEGORY SECTION===================*/
.home-category {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding: 8rem 0 6rem;
}

/* ===CATEGORY LEFT=== */
.home-category-left {
  flex: 1;
}

.home-category-left p {
  margin: 1rem 0 2.4rem;
  text-align: justify;
}

/* ===CATEGORY RIGHT=== */
.home-category-right {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

/*======================POPULAR COURSE SECTION===================*/
.home-popcourse {
  min-height: 100%;
  background: url('../../assets/img/bg-texture.png');
  background-color: var(--color-bg);
  box-shadow: var(--boxshadow);
}

.home-popular-course {
  margin-bottom: 2.4rem;
  text-align: center;
}

.home-popcourse-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

/*======================FAQS SECTION===================*/
.faqs-h1 {
  text-align: center;
  margin-bottom: 5rem;
}

.faqs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

/*======================TESTIMONIAL SECTION===================*/
.home-testimonial {
  min-height: 100%;
  background: url('../../assets/img/bg-texture.png');
  box-shadow: var(--boxshadow);
  background-color: var(--color-bg);
}

.testimonial-title {
  text-align: center;
  margin-bottom: 5rem
}

.testimonial {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.testimonial-swiper {
  width: 100%;
  margin: 0 auto;
}

/* =====MEDIA QUERIES ===== */
@media screen and (max-width:990px) {
  h1 {
    font-size: 1.7rem;
  }

  p {
    font-size: .8rem;
  }

  .container {
    width: var(--container-width-md);
    height: 100%;
  }

  .home-container {
    gap: 1rem;
  }

  .home-category {
    gap: 1rem;
  }

  .home-popcourse-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

}

@media screen and (max-width:600px) {
  header {
    height: 100vh;
  }

  .container {
    width: var(--container-width-sm);
  }

  .home-container {
    flex-direction: column-reverse;
    padding: 1rem 0;
    gap: 3rem;
  }

  .home-header-left {
    flex: none;
  }


  .home-category-left p {
    margin-bottom: 1rem;
  }


  .home-header-right {
    flex: none;
  }

  .home-category {
    flex-direction: column;
  }

  .home-category-right {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
  }

  .home-popcourse-content {
    grid-template-columns: 1fr;
    gap: .1rem;
  }

  .faqs {
    grid-template-columns: 1fr;
  }

}

/* phone */
/* @media screen and (min-width: 300px) {
  .testimonial-swiper {
    width: 480px;
  }
} */

/* tablet */
/* @media screen and (min-width: 640px) {
  .testimonial-swiper {
    width: 640px;
  }
} */

/* dekstop */
/* @media screen and (min-width: 978px) {
  .testimonial-swiper {
    width: 978px;
  }
} */