nav {
  width: 100vw;
  height: 5rem;
  background: url('../../assets/img/bg-texture.png');
  background-color: var(--color-bg);
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: var(--boxshadow);
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-links {
  display: flex;
  gap: 2rem;
}

.nav-menu-links a:hover {
  color: var(--color-primary);
  transition: var(--transition);
}

.nav-menu-btn {
  display: none;
}



/* ======================MEDIA QUERIES (TABLET)======================= */
@media screen and (max-width:1024px) {
  nav button {
    display: inline-block;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-menu {
    position: relative;
  }



  .nav-menu-links {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 5%;
    gap: 0;
    perspective: 400;
  }

  .nav-menu-btn {
    display: flex;
    background: none;
    color: #fff;
  }



  .nav-menu-links li:hover {
    background: var(--color-bg2);
    transition: var(--transition);
  }

  .nav-menu-links li a:hover {
    color: #fff;
  }

  .nav-menu-links li {
    display: grid;
    background: var(--color-bg);
    height: 5.8rem;
    width: 15rem;
    place-items: center;
    box-shadow: var(--boxshadow);
    transform: rotateX(-90deg);
    opacity: 0;
    transform-origin: top;
    animation: animateNavbar 600ms ease forwards;
  }

  .nav-menu-links li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav-menu-links li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav-menu-links li:nth-child(4) {
    animation-delay: 600ms;
  }

  @keyframes animateNavbar {
    100% {
      transform: rotateX(0deg);
      opacity: 1;
      transition: var(--transition);
    }
  }

  .nav-show {
    display: flex;
  }

  .nav-hide {
    display: none;
  }
}