nav {
  width: 100vw;
  height: 5rem;
  background: url('../../assets/img/bg-texture.png');
  background-color: var(--color-bg);
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: var(--boxshadow);
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-links {
  display: flex;
  gap: 2rem;
}

.nav-menu-links a:hover {
  color: var(--color-primary);
  transition: var(--transition);
}

.nav-menu-btn {
  display: none;
}