@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  outline: 0;
}

/* ===GENERAL CSS VARIABLES=== */
:root {
  --color-primary: #6c63ff;
  --color-succes: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 88, 66, .4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, .7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890;

  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 500ms ease;
  --boxshadow: 0 3rem 3rem rgba(0, 0, 0, .3);
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-bg1);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--color-white);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
  cursor: pointer;
  border-radius: 2rem;
}

.btn:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn-primary {
  background: var(--color-danger);
  color: var(--color-white);
}